.c-cards {
  max-width: 48rem;
  margin: 0 auto;
  background-color: var(--primary-color);
  color: var(--text-color);

  @media screen and (min-width: 62em) {
    max-width: 100%;
  }

  &__box {
    align-items: flex-start;
    border: 0.1rem solid var(--secondary-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 5rem 0;
    min-height: 20rem;
    padding: 4rem 2.5rem 2.5rem 2.5rem;
    position: relative;
    transition: all 200ms ease;
    width: 100%;

    @media screen and (min-width: 62em) {
      margin: 5rem 0;
      min-height: 24rem;
    }

    &:hover {
      border: 0.1rem solid var(--teal);
    }
  }

  &__img {
    bottom: auto;
    border-radius: 50%;
    background-color: var(--white);
    left: 1.5rem;
    top: -3rem;
    right: 0;
    width: 6.5rem;
    position: absolute;
    z-index: 2;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
    margin: 0 0 2rem 0;

    @media screen and (min-width: 62em) {
      margin-bottom: 2rem;
      font-size: 3rem;
    }
  }

  &__copy {
    font-size: 1.6rem;
  }

  &__subtitle {
    text-align: left;
    font-size: 2rem;

    @media screen and (min-width: 62em) {
      font-size: 2.6rem;
    }
  }
}
