.c-footer {
  background-color: color(white);
  color: color(black);
  padding: 5rem 0;
  width: 100%;
  text-decoration: uppercase;

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 3rem 0;
    line-height: 1.1;

    @media screen and (min-width: 62em) {
      margin-bottom: 2rem;
      font-size: 5rem;
    }
  }

  &__copy {
    color: var(--theme-page-text);
    margin-bottom: 3rem;

    @media screen and (min-width: 62em) {
      margin-bottom: 0;
      padding-right: 4rem;
    }
  }

  &__block {
    align-items: center;
    background-color: var(--grey);
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    padding: 6rem 4rem;

    @media screen and (min-width: 62em) {
      margin-bottom: 0;
      margin-right: 1rem;
    }
  }

  &__img {
    width: 3.3rem;
    height: auto;
  }
}
