.c-nlp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  & h1 {
    text-align: center;
    display: block;
  }

  & form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & textarea {
      width: 100%;
      margin-bottom: 4rem;
      min-height: 30rem;
    }

    & button {
      appearance: none;
      border: 0.1rem solid var(--black);
      background: none;
      min-width: 20rem;
      padding: 2rem 1rem;
      margin: 0 auto;
      text-align: center;
    }
  }
}
