.c-projects {
  background-image: url('https://cdn2.hubspot.net/hubfs/7562645/Portfolio/projects.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  flex-direction: column;
  min-height: 50rem;
  width: 100%;
  margin: 2rem 0;

  @media screen and (min-width: 62em) {
    justify-content: start;
    margin: 4rem 0;
    padding-top: 4rem;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    width: 100%;

    @media screen and (min-width: 62em) {
      margin-bottom: 2rem;
      font-size: 3rem;
    }
  }

  &__subtitle {
    margin-bottom: 2rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto 2rem auto;
    text-align: center;
    align-items: center;

    @media screen and (min-width: 62em) {
      flex-direction: row;
      margin: 0 0 4rem 0;
      text-align: left;
    }
  }

  &__card {
    background-color: var(--white);
    border-radius: 0.8rem;
    box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    flex: 1;
    position: relative;
    margin: 0 auto 4rem auto;
    max-width: 40rem;
    transition: transform 400ms ease, box-shadow 400ms ease;
    width: 100%;

    &:hover {
      box-shadow: 0 0.1rem 0.6rem 0 rgba(0, 0, 0, 0.15);
      transform: translate(0, -0.6rem) scale(1.02);
    }

    @media screen and (min-width: 62em) {
      max-width: 100%;
      margin: 0 0 4rem 0;
    }

    img {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      max-height: 20rem;
      width: 100%;
      max-width: 40rem;
      object-fit: cover;
      margin: 0 auto;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem 1rem;
  }

  &__select {
    appearance: none;
    margin-bottom: 3rem;
    border-radius: 0.6rem;
    padding: 1rem 3rem;
    min-width: 100%;
    background-image: url('./assets/icons/caret-down-solid.svg');
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 1.2rem;
    color: color(black);

    @media screen and (min-width: 62em) {
      min-width: 76.8rem;
    }

    & option {
      color: color(black);
    }
  }

  &__copy {
    position: relative;
    z-index: 2;
  }

  &__tagline {
    color: rgba(27, 27, 27, 0.6);
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--black);
    font-size: 1.2rem;
  }

  &__heading {
    font-size: 2.2rem;
    line-height: 1.2;
    font-weight: 400;
    margin: 0.6rem 0 1rem 0;
    color: var(--black);
  }
}
