:root {
  --white: #fff;
  --black: #000;
  --purple: #1a237e;
  --periwinkle: #bac3ff;
  --darkgreen: #256506;
  --teal: #02806f;
  --dim: 21, 32, 43;
  --grey: #f5f5f5;
  --switch: var(--white);
}

[data-theme='light'] {
  --primary-color: var(--white);
  --secondary-color: var(--purple);
  --tertiary-color: #ffffff;
  --text-color: var(--black);
  --bg-color: #1c2138;
  --button-switch: #fe9f5b;
}

[data-theme='dark'] {
  --primary-color: rgba(var(--dim));
  --secondary-color: var(--white);
  --tertiary-color: #ffffff;
  --text-color: var(--white);
  --bg-color: #1c2138;
  --button-switch: #0a0d12;
}

@font-face {
  font-family: 'apercu';
  src: url('./assets/fonts/apercu_light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'apercu';
  src: url('./assets/fonts/apercu_regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'apercu';
  src: url('./assets/fonts/apercu_medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'apercu';
  src: url('./assets/fonts/apercu_bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: normal 1.6rem/1.6 'apercu', sans-serif;
  margin: 0;

  @media screen and (min-width: 62em) {
    padding: 12rem 0 0 0;
  }
}

#app {
  background-color: var(--primary-color);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
